@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');


* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #1b1e22;
}

.particle_con{
    width: 30%;
}

section{
    height: 100vh;
}

html{
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    overflow-y: scroll;
}

html::-webkit-scrollbar { 
    display: none;  
}

.arrow_con{
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    align-items: center;
    align-content: center;
    position: relative;
    bottom: 0;
    color: white;
}

.arr1{
    position: relative;
    animation: bounce2 1s infinite alternate;
}

.arr2{
    position: relative;
    bottom: 65px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        top: -65px;
    }
    100% {
        top: -40px;
    }
}

@keyframes bounce2 {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

.arr_a{
    text-decoration: none;
}

.f_btn{
    color: black;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    pointer-events: all;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    position: relative;
    top: 0;
}

.count_con{
    width: 90%;
    color: black;
    display: flex;
    font-family: "Poppins", sans-serif;
    margin-left: 4%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10%;
    padding-top: 20px;
}

.count_img{
    width: 60%;
    margin-left: 22%;    
}

.datasets_count{
    width: 30%;
}

.count{
    width: 30%;
    margin-left: 20%;
}

.count_con h3{
    margin: 0px;
    text-align: center;
}

.count_con h2{
    margin: 0px;
    text-align: center;
}

.databases_info h2{
    font-size: 1.8rem;
    padding-left: 4%;
    font-family: "Poppins", sans-serif;
    color: white;
}

.dataImage{
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 3%;
    box-shadow: 20px 20px 2px 3px white;
}

.dataImage:hover{
    padding: -20px;
}

.text_con{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
    position: relative;
    top: 0;
    margin-bottom: 0;
}

#element{
    position: absolute;
    padding-top: 300px;
    top: -350px;
    padding-top: 300px;
    font-size: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar { 
    display: none;
}

.top_datasets{
    width: 90%;
    height:fit-content;
    border: 1px solid white;
    margin-left: 4%;
    margin-bottom: 10%;
    padding: 10px;
    border-radius: 5px;
    color: black;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    overflow-x: auto;
    z-index: 1;
}

.top_datasets2{
    padding-right: 50px;
    z-index: 1;
}

.card2{
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    height: 70vh;
    align-items: center;
    align-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-left: 3%;
    padding-bottom: 20px;
    z-index: 0;
}

.card{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 30%;
    max-width: 30%;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-left: 2.5%;
    padding-bottom: 20px;
    z-index: 0;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: lightblue;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#f8ff37, #f56060);
    border-radius: 10px;
}

.card_img{
    width: 100%;
    height: 30vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile_img{
    width: 58%;
    margin-left: 21%;
    border-radius: 100px;
    height: 20vh;
}

.card h3{
    margin-left: 3%;
    margin-bottom: 0;
}

.card p{
    font-size: 0.8rem;
    padding: 3%;
    width: 100%;
    margin-top: 0;
}

.card a{
    text-decoration: none;
    background-color: rgba(0,0,0);
    color: white;
    margin-left: 3%;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.card a:hover{
    color: lightgreen;
    background-color: rgb(36, 36, 36);
}


.card h4{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: black;
    width: fit-content;
    margin-left: 3%;
    margin-top: 0;
}

.card2 h3{
    text-align: center;
    margin-bottom: 0;
}

.card2 p{
    font-size: 0.8rem;
    text-align: justify;
    padding: 10%;
    width: 100%;
    margin-top: 0;
}

.card2 a{
    text-decoration: none;
    background-color: rgba(0,0,0);
    color: white;
    margin-left: 3%;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.card2 a:hover{
    color: lightgreen;
    background-color: rgb(36, 36, 36);
}


.card2 h4{
    margin: auto;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: black;
    width: fit-content;
    margin-top: 0;
}
