* {
    box-sizing: border-box;
  }

  body {
    background-color: #1b1e22;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: var(--body-font-size, 14px);
    line-height: 1.5;
  }

  h1 {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    letter-spacing: -0.5px;
    font-weight: var(--base-text-weight-light, 300);
    margin-bottom: 1.2rem;
  }

  .form {
    text-align: center;
    margin-top: 2.6rem;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    display: block;
    font-weight: var(--base-text-weight-normal, 600);
    margin-bottom: 9px;
    margin-left: 6px;
    text-align: left;
    cursor: default;
  }

  #forgot-password {
    float: right;
    font-size: 12px;
    margin-bottom: 6px;
    text-decoration: none;
    color: blue
  }

  #forgot-password:hover {
    text-decoration: none;
  }

  .inputs {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 5px 12px;
  }

  .pos {
    position: relative !important;
  }

  .elem {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: white;
    color: black;
    padding: 0.85rem 0 1.5rem 0;
    border-radius: 15px;
    background-color: rgba(211, 211, 211, 0.925);
  }

  .flexer {
    min-width: 100%;
    max-width: 100%;
  }

  .right-0 {
    right: 10 !important;
  }

  .top-0 {
    top: 0 !important;
  }

  .absolute {
    position: absolute !important;
  }

  .crtacct {
    padding: 0;
    text-decoration: none;
  }

  #submit {
    margin-top: 0.8rem;
    background-color: #fcca30;
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .divider {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #979faf;
    line-height: 0.1em;
    margin: -20px 0 20px;
    margin-left: 10%;
    margin-top: 1rem;
    padding: 0 10px;
    font-size: 100%;
    vertical-align: baseline;
  }

  #submit:hover {
    background-color: black;
    color: #fcca30;
    cursor: auto;
  }

  .linksign {
    width: 50%;
    display: inline-block;
    padding: 5px 30px;
  }

  .gimg {
    width: 130%;
    text-align: center;
  }