{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dataAlly || {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href={% static 'css/base.css' %}>
{% block css_styling %}{% endblock css_styling %}
    <link rel="icon" sizes="600x600" href={% static 'img/logo_tab.png' %} type="image/png"> 
</head>
<body>
    <nav>
        <span class="logo_area">
            <a href="/" style="height: 48px;"><img src={% static 'img/logo_main.png' %} alt="logo"></a>
            <a href="/" style="position: relative; right: 13px;">dataAlly</a>
        </span>
        <span class="link_area">
            <a class="links" href="/database/">Databases</a>
            <a class="links" href="/model/">Models</a>
            <a class="links" href="/poll/">Polls</a>
        </span>
        <span class="search_area">
            <input placeholder="Search" type="text">
        </span>
        <span class="button_area">
            <a class="btna" href="/login/"><button class="buttons"><h2 class="buttons_text">Login</h2></button></a>
            <a class="btna" href="/signup/"><button class="buttons"><h2 class="buttons_text">Signup</h2></button></a>
        </span>
    </nav>
    {% block body %}
        
    {% endblock body %}
    <!-- <footer>
        <span>
            <img class="footer_logo" src={% static 'img/logo_main.png' %} alt="logo">
        </span>
        <span>
            <a href="">About</a>
        </span>
    </footer> -->
</body>
{% block extra_scripts %}{% endblock %}
</html>