{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}

<main class="data_polls">
    <div class="sidebar">
        <div class="search_bar">
            <h2 class="Search_head">Search</h2>
            <i class="fi fi-rr-search search_icon"></i><input id="search" name="search" type="text">
        </div>

        <div class="filters">
            <h2>Filters</h2>

            <div class="file-size">
                <h3>File Size</h3>

                <div class="file_size_all">
                <input type="number" placeholder="Min" name="file-size" id="min_file_size">
                <label for="max_file_size">To</label>
                <input type="number" placeholder="Min" name="file-size" id="max_file_size">
                <select name="file_size_type" id="file_size_type">
                    <option value="kb">KB</option>
                    <option value="mb">MB</option>
                    <option value="gb">GB</option>
                </select>
                </div>
            </div>

            <div class="file_type_con">
                <label for="file_type">File Type</label><select name="file_type" id="file_type">
                    <option value="csv">.csv</option>
                    <option value="xlsv">.xlsv</option>
                    <option value="json">.json</option>
                    <option value="sqlite">.sqlite</option>
                </select>
            </div>
            
            <div class="price-slider-container">
                <h3 class="price_tag">Price</h3>
                <div class="slider">
                    <div class="track"></div>
                    <input type="range" min="0" max="1000" class="slider-range" id="min-price">
                    <input type="range" min="1000" max="2000" class="slider-range" id="max-price">
                </div>
                <div class="price-values">
                    <span>Price From: $<span id="min-price-val">0</span></span>
                    <span>Price To: $<span id="max-price-val">2000</span></span>
                </div>
            </div>



        </div>
    </div>

    

    <div class="main_data_container">
        
    </div>
</main>

{% endblock body %}
{% block extra_scripts %}
<script src="{% static "js/database.js" %}"></script>
{% endblock %}

