{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}
/<main>
    <section>
    <div class="main_con">
        <div class="particle_con">
            <canvas id="canvas1"></canvas>
        </div>
    </div>
    <div class="text_con">
        <span id="element"></span>
        <a class="f_btn" href="#">Let's Explore</a>
    </div>
</section>

<section>
    <div class="databases_con">
        <div class="databases_info">
            <h2><i class="fi fi-rs-file-spreadsheet"></i> DataSets</h2>
        </div>
    </div>
</section>

</main>
{% endblock body %}


